#tocap {
    text-transform: capitalize;
  }

  #tolower {
    text-transform: lowercase;
  }

a {
    text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

  ion-fab-button {
    --background: #92949c;
    --background-activated: #898989;
    --background-hover: #000000;
    --border-radius: 15px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: black;
  }