<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        id="toCap"
        color="primary"
        defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Modification de votre mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group id="accordion">
    <ion-accordion value="reminder">
      <ion-item slot="header" color="light" lines="full">
        <ion-icon
          color="warning"
          name="information-circle"
          slot="start"
          size="large"></ion-icon>
        <ion-label>Rappel des règles concernant les mots de passe</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          Votre mot de passe doit contenir entre 12 et 255 caractères dont :<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- une lettre minuscule<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- une lettre MAJUSCULE<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- un chiffre<br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- un des caractères spéciaux suivants
          !"#$%&\'*+,-./:;\&lt;=&gt;?@^_&#123;|&#125;~
          <br />&nbsp;
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <form
    id="formMargin"
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit(changePasswordForm)">
    <ion-item>
      <ion-input
        label="Mot de passe actuel"
        labelPlacement="floating"
        fill="outline"
        type="text"
        id="password"
        formControlName="password"
        [counter]="true"
        maxlength="255"
        [clearInput]="true">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Nouveau mot de passe"
        labelPlacement="floating"
        fill="outline"
        type="text"
        id="newPassword"
        formControlName="newPassword"
        [counter]="true"
        maxlength="255"
        [clearInput]="true">
      </ion-input>
      <span
        class="error ion-padding"
        *ngIf="changePasswordForm.controls['password'].dirty &&
        changePasswordForm.controls['newPassword'].errors?.['mustNotMatch']">
        Le nouveau mot de passe ne doit pas être le même que l'actuel.<br />
        Retapez-le ici.
      </span>
    </ion-item>

    <ion-item id="topMargin">
      <ion-input
        label="Confirmer le nouveau mot de passe"
        labelPlacement="floating"
        fill="outline"
        type="text"
        id="confirmPassword"
        formControlName="confirmPassword"
        [counter]="true"
        maxlength="255"
        [clearInput]="true">
      </ion-input>
      <span
        class="error ion-padding"
        *ngIf="changePasswordForm.controls['newPassword'].dirty &&
        changePasswordForm.controls['confirmPassword'].errors?.['mustMatch']">
        La confirmation du nouveau mot de passe ne matche pas.<br />
        Retapez-la ici.
      </span>
    </ion-item>
    <ion-item>
      <a href="/login/newpassword"> Mot de passe oublié </a><!--  -->
    </ion-item>
    <ion-item lines="none">
      <ion-button
        id="toCap"
        expand="block"
        size="default"
        type="submit"
        [disabled]="changePasswordForm.invalid">
        Changer&nbsp;
        <span id="toLower"> le mot de passe </span>
      </ion-button>
    </ion-item>
  </form>
</ion-content>
