#inactive {
    font-size: 150%;
    font-weight: 800;
    //background-color: rgb(200, 200, 200);
}

#inactiveInfo {
    font-size: 120%;
    font-weight: 700;
}

ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }